version: 2
jobs:
  build:
    working_directory: ~/tweet-sentiment
    docker:
      - image: circleci/android:api-27-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}-{{ checksum  "device/build.gradle" }}-{{ checksum  "domain/build.gradle" }}--{{ checksum  "network/build.gradle" }}--{{ checksum  "presentation/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew dependencies --no-daemon
      - run:
          name: Accept licenses
          command: yes | sdkmanager --licenses || true
      - run:
          name: Perform build
          command: ./gradlew build --no-daemon
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}-{{ checksum  "device/build.gradle" }}-{{ checksum  "domain/build.gradle" }}--{{ checksum  "network/build.gradle" }}--{{ checksum  "presentation/build.gradle" }}
      - store_artifacts:
          path: app/build/outputs/apk
          destination: apks
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results
      - persist_to_workspace:
          root: .
          paths:
            - .gradle
            - build
            - app/build

